* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: white;
  color: black;

  font-family: "Source Serif 4", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3 {
  margin: 0;
}
